.fc-event {
    cursor: pointer;
    background-color: var(--lumo-primary-color);
    border: 1px solid var(--lumo-primary-contrast-color);
    color: var(--lumo-primary-contrast-color);
    padding: 2px 5px;
    border-radius: 3px;
    margin: 2px;
}

.fc-event:hover {
    opacity: 0.9;
}

.fc-toolbar-title {
    font-size: 1.5em;
    color: var(--lumo-header-text-color);
}

vaadin-app-layout::part(content) {
    overflow: auto !important;
}

.full-calendar {
    min-width: 800px;
    min-height: 600px;
}