@import "custom-theme.css";
@import "fullcalendar.css";

html[theme~="dark"] {
    --my-message-bg: var(--lumo-primary-color-10pct);
    --other-message-bg: var(--lumo-contrast-5pct);
    --message-text-color: var(--lumo-body-text-color);
    --sender-text-color: var(--lumo-primary-text-color);
    --timestamp-color: var(--lumo-secondary-text-color);
}

html[theme~="dark"] .my-message {
    border: 1px solid var(--lumo-primary-color-50pct);
}

html[theme~="light"] {
    --my-message-bg: #F7F7F7;
    --other-message-bg: #C9E4CA;
    --message-text-color: #333333;
    --sender-text-color: #00698f;
    --timestamp-color: #666666;
}

html[theme~="light"] .my-message {
    border: 1px solid #AAAAAA;
}

::part(parent-note) {
    font-weight: bold;
    padding-left: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--lumo-body-text-color);
}

::part(sub-note) {
    font-style: normal;
    padding-left: 30px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--lumo-body-text-color);
}

.date-column {
    text-align: center;
}

.truncated-title {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--lumo-body-text-color);
}

.truncate-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.truncate-text.expanded {
    white-space: normal;
    overflow: visible;
}

html {
    --lumo-primary-color: #1565c0;
    --lumo-success-color: #2e7d32;

    --lumo-primary-color-50pct: rgba(21, 101, 192, 0.5);
}

.login-view a {
    font-size: 18px;
    color: blue;
}

.login-view a:hover {
    text-decoration: underline;
}

.chat-message {
    margin: 8px 0;
    padding: 12px;
    border-radius: 12px;
    max-width: 70%;
    color: var(--message-text-color);
}

.my-message {
    background-color: var(--my-message-bg);
    margin-left: auto;
}

.other-message {
    background-color: var(--other-message-bg);
    margin-right: auto;
}

.sender {
    font-weight: 600;
    font-size: 0.9em;
    color: var(--sender-text-color);
}

.my-sender {
    color: #1976d2;
}

.other-sender {
    color: #388e3c;
}

.message-time {
    font-size: 0.75em;
    color: var(--timestamp-color);
    align-self: center;
}

.message-content {
    margin-top: 4px;
    font-size: 0.95em;
    word-break: break-all;
}

.chat-image {
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


