@import "custom-theme.css";
@import "fullcalendar.css";

::part(parent-note) {
    font-weight: bold;
    padding-left: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--lumo-body-text-color);
}

::part(sub-note) {
    font-style: normal;
    padding-left: 30px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--lumo-body-text-color);
}

.truncated-title {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--lumo-body-text-color);
}

.truncate-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.truncate-text.expanded {
    white-space: normal;
    overflow: visible;
}

html {
    --lumo-primary-color: #1565c0;
    --lumo-success-color: #2e7d32;

    --lumo-primary-color-50pct: rgba(21, 101, 192, 0.5);
}


